<!--Creacion de un navbar, el cual tendra el titulo de pokedex y tendra un campo para buscar por id.-->

<div class="encabezado">
  <header>
    <nav class="navbar navbar-light bg-danger bg-">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../assets/favicon (2).ico" alt="" width="48" height="42 "  class="d-inline-block align-text-top">
          Pokedex
        </a>
        <form action="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search">
        </form>
      </div>
      <button class="btn btn-success">Search</button>
    </nav>
  </header>
</div>

<!--Contenedor principal de imagenes-->
<!--Este contenedor es el que contenera la imagen, id, nombre del pokemon
    Y al que le hare un For para que se despliegue en toda la pagina.-->
<div class="contenedor-pokemones">

  <!--Imagen del pokemon.-->
  <img src="../assets/pokedex.png" alt="" width="40" height="40">

  <!--Id, nombre, tipo, y base-->
  

</div>