
<!--Mismo navbar para la descripcion solamente sin el search-->

<div class="encabezado">
    <header>
      <nav class="navbar navbar-light bg-danger bg-">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../assets/favicon (2).ico" alt="" width="48" height="42 "  class="d-inline-block align-text-top">
            Pokedex
          </a>
        </div>
      </nav>
    </header>
  </div>


<!--Html para el contenedor del , el contenedor de los datos y el contenedor de los ataques.-->


<!--contenedor de la imagen del -->
<div class="descripcion-container">
  
  <div class="img-pokemon">

    <img class="imgPokemon" [src]="padNumberImg(pokemon.id)" alt="" width="350" height="350">

  </div>

  <!--contenedor de datos del pokemon <p class="name-pokemon">{{pokemon.name.english}}</p>-->
  <div class="pokemon-data">
      <p class="title">Datos del pokemon.</p>

      <p class="pokemonId" [innerText]="padNumberId(pokemon.id)"></p>

      <p class="subtitle">Nombres en Diferente Idiomas:</p>
      <ul class="namePokemon">
        <li class="lipokemon">{{pokemon.name.english}}</li>
        <li class="lipokemon">{{pokemon.name.french}}</li>
        <li class="lipokemon">{{pokemon.name.japanese}}</li>
      </ul>

      <p class="subtitle" >Tipo: </p>
      <ul class="type-pokemon">
        <li>{{pokemon.type[0]}}</li>
        <li>{{pokemon.type[1]}}</li>
      </ul>

      <button (click)="openModal()" class="buttonModal" type="button" class="btn btn-danger" data-bs-toggle="myModal" data-bs-target="#staticBackdrop">
        Ver movimientos
      </button>
  </div>



  <div class="sprites">
    <img [src]="padNumberSprite(pokemon.id)" alt="">
  </div>

  <!--Contenedor de las estadisticas de ataque del pokemon.-->
  <div class="pokemon-stats">
        <ngx-charts-advanced-pie-chart  
        [view]="view"
        scheme="fire"
        [results]="single"
        [gradient]="gradient"
        >
        </ngx-charts-advanced-pie-chart>
  </div>
  
  <!-- Modal -->
  <div
    #myModal
    class="modal"
    id="modalId"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalTitleId"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-sm modal-fullscreen"
      role="document"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId">
            Movimientos que puede aprender el Pokemon.
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">

          <div class="movesContainerFlex">
            <div class="move-container1" *ngFor="let move of moves1">
              <ul class="list-moves-1">
                <li>{{move.ename}}</li>
              </ul>
            </div>

            <div class="move-container2" *ngFor="let move of moves2">
              <ul class="list-moves-1">
                <li>{{move.ename}}</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="closeModal()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  


</div>











