.encabezado{
    font-size: 30px;
}

a{
    color: #ffffff;
    font-size: larger;
}


.descripcion-container{
    width: 1500px;
    height: 840px;
    display: block;
    position: relative;
}

.img-pokemon{
    width: 650px;
    height: 415px;
    background-color: #F2F2F2;
    color: #ffffff;
    position: absolute;
    padding: 10px;
    padding-left: 70px;
    margin: 10px;
    top:  50px;
    left: 185px;
    border-radius: 15px;

}

.imgPokemon{
    position: absolute;
    left:150px;
    padding-top: 20px;
}

.pokemon-data{
    width: 350px;
    height: 400px;
    position: absolute;
    background-color: #30A7D7;
    padding: 10px;
    margin: 10px;
    left: 900px;
    top: 60px;
    border-radius: 15px;
}

.pokemon-stats{
    width: 1200px;
    height: 400px;
    margin: 40px;
    padding-left: 150PX;
    position:absolute;
    top: 450px;
    left: 100px;
    border-radius: 15px;
}


.title{
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
}

.subtitle{
    font-size: 22px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 600;
    padding: 10px;
}

.pokemonId{
    font-size: 25px;
    padding-bottom: 10px;
    padding: 10px;

}

.namePokemon{
    display: inline-flex;
    background-color: #39c0f5;
    padding: 15px;
    border-radius: 10px;
}

.lipokemon{
    font-size: 17px;
    font-weight:550;
}

li{
    padding-left: 15px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-weight:550;

}

.type-pokemon{
    display: inline-flex;
    padding: 15px;
    background-color: #39c0f5;
    border-radius: 10px;

}

.sprites{
    position: relative;
    width: 40px;
    height: 40px;
    left: 1020px;
    top: 140px;
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    color: #FFFFFF; 
    font-size: larger;
    text-decoration: none;
    white-space: nowrap;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-label {
    font-size: 14px;
    opacity: .7;
    margin-left: 11px;
    padding-top: 5px; 
}

.advanced-pie-legend .legend-items-container .legend-items {
    white-space: nowrap;
    padding: 5px;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
    font-size: 24px;
    margin-top: 2px;
    margin-left: 11px;
}


