.encabezado{
    font-size: 30px;
}

a{
    color: #ffffff;
    font-size: larger;
}

body{
    background: rgb(220,53,69);
    background: linear-gradient(180deg, rgba(220,53,69,1) 12%, rgba(255,255,255,1) 100%);
}

.descripcion-container{
    max-width: auto;
    min-height: 1081px;
    display: block;
    position: relative;
}

.img-pokemon{
    width: 650px;
    height: 415px;
    background-color: #F2F2F2;
    color: #ffffff;
    position: absolute;
    padding: 10px;
    padding-left: 70px;
    margin: 10px;
    top:  15%;
    left: 15%;
    border-radius: 15px;

}

.imgPokemon{
    position: absolute;
    left:150px;
    padding-top: 20px;
}

.pokemon-data{
    width: 600px;
    height: 415px;
    position: absolute;
    background-color: #30A7D7;
    padding: 10px;
    margin: 10px;
    left: 55%;
    top: 15%;
    border-radius: 15px;
}

.pokemon-stats{
    width: 1200px;
    height: 400px;
    margin: 40px;
    padding-left: 150PX;
    position:absolute;
    top: 60%;
    left: 20%;
    border-radius: 15px;
}


.title{
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
}

.subtitle{
    font-size: 30px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 600;
    padding: 10px;
}

.pokemonId{
    font-size: 25px;
    padding-bottom: 10px;
    padding: 10px;

}

.namePokemon{
    display: inline-flex;
    background-color: #39c0f5;
    padding: 15px;
    border-radius: 60px;
    margin: auto 92px;
}

.lipokemon{
    font-size: 17px;
    font-weight:550;
}

li{
    padding-left: 15px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-weight:550;

}

.type-pokemon{
    display: inline-flex;
    padding: 15px;
    background-color: #39c0f5;
    border-radius: 60px;
    margin: auto 17px;
}

.buttonModal{
    position: absolute;
    border-radius: 60px;
    width: 100px;
}

.sprites{
    position: relative;
    width: 40px;
    height: 40px;
    left: 62%;
    top: 260px;
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    color: #FFFFFF; 
    font-size: larger;
    text-decoration: none;
    white-space: nowrap;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-label {
    font-size: 14px;
    opacity: .7;
    margin-left: 11px;
    padding-top: 5px; 
}

.advanced-pie-legend .legend-items-container .legend-items {
    white-space: nowrap;
    padding: 5px;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
    font-size: 24px;
    margin-top: 2px;
    margin-left: 11px;
}

.fade:not(.show) {
    opacity: 1;
}

.move-container1{

    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;

}

.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: var(--bs-body-bg);
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: var(--bs-border-width);
    --bs-modal-border-radius: var(--bs-border-radius-lg);
    --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: var(--bs-border-width);
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: var(--bs-border-width);
    position: fixed;
    top: 59px;
    left: 47px;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 95%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
    background-color: var(--bs-modal-footer-bg);
    border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
    align-content: center;
    justify-content: flex-start;
}

.list-moves-1{
    display: inline-block;

}

.movesContainerFlex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
    width: 108rem;
}

.modal-fullscreen .modal-footer, .modal-fullscreen .modal-header {
    border-radius: 0;
    font-size: x-large;
}